* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1265px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}



header,
.foot {
    .wrapper {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;



        .burger {
            display: none;

            .container {
                display: inline-block;
                cursor: pointer;
            }

            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 5px;
                background-color: black;
                margin: 6px 0;
                transition: 0.4s;
            }



            .change .bar1 {
                background-color: white;

                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }

            .change .bar2 {
                opacity: 0;
            }

            .change .bar3 {
                background-color: white;
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }
    }


    .Britlex {
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;

        .gray {
            color: gray;
        }
    }
}


.navbut {
    display: flex;
    list-style: none;

    li {

        a {
            cursor: pointer
        }
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    font-family: 'Poppins',
    sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.marg {
    margin-left: 20px;




}

.Learn {
    display: flex;
    flex-direction: column;

    .Text_Main {

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        display: flex;

        .light {
            cursor: pointer;
        }

        font-weight: 600;
        font-size: 60px;
        line-height: 80px;
    }

    .undertext {
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        margin-top: 25px;
        color: #8F95A5;
    }



    .button_1 {
        background: #263238;
        border-radius: 15px;
        margin-top: 40px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        cursor: pointer;
        line-height: 54px;
        padding: 30px 125px;
        color: white;
    }
}

.flex-count {
    display: flex;
    width: 100%;


}

.Country {
    display: flex;
    margin-left: auto;
    margin-top: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }



}

.wrapper {
    width: 100%;
}

.Speaking {
    padding: 0 30px;
}

.flex_one {
    padding: 0 50px;
}

.flex_last {
    padding: 0 50px;
}

.Reading {
    padding: 0 10px;
}

.Wrapper_Skills {
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 18px;

    .Speaking {
        background: #F5F5F5;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;
        /* identical to box height, or 267% */


        color: #263238;


    }
}

.Contact_Us {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;

}

.input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    /* identical to box height */


    color: #8F95A5;


}

.Text_contact {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    /* identical to box height, or 167% */


    color: #000000;
}

.Under_Text_Speak,
.under_contact {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #8F95A5;
}



.Price_wrap {
    display: flex;
    min-height: 582px;
    justify-content: space-between;

}

.Skil,
.Text_price {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    text-align: center;



}

.Text_price {
    margin-top: 70px;
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex_one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




.sect_three {
    margin-top: 176px;
}


.Writing,
.Read,
.List,
.About,
.vosem {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    /* identical to box height, or 267% */


    color: #263238;
}

.text_one {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    /* identical to box height, or 160% */


    color: #263238;
}

.price_one {
    font-family: 'Poppins', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;

    /* identical to box height */
    .span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */


        color: #546269;
    }

    color: #263238;
    width: 240px;
    height: 45px;
    left: 130px;
    top: 3379px;

    background: #EEEEEE;
    border-radius: 5px;
}

.flex_obj {
    display: flex;
    justify-content: space-between;
    gap: 111px;
}

.input_plus_but {
    display: flex;
}

.input {
    border: 1px solid #8F95A5;
    box-sizing: border-box;
    border-radius: 10px;
    width: 450px;
    height: 80px;


}

.button {
    width: 264px;
    height: 80px;
    background: #263238;
    border-radius: 10px;
    cursor: pointer;
}

.white {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #FFFFFF;

}

.Price_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 138px;
}

.Under_write,
.Under_read,
.Under_List,
.UnderAbout,
.undertext_one {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #8F95A5;
}


.asd {
    display: flex;
    justify-content: space-between;
    gap: 30px
}


.img {
    display: flex;
    margin-left: auto;


    margin-right: 10px;

}

.Reading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F5F5F5;
    height: auto;
}

.flex-column {
    gap: 10px;

}

.flex-row {
    gap: 10px;

}

.read_under_read {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_one {
    background: #F5F5F5;
}

.Text_Undertext {
    display: flex;
    flex-direction: column;
}

.flex_last {
    display: flex;
    flex-direction: row;
    background: #F5F5F5;
}



.foot {
    margin-top: 165px;

}

.flex-footer {
    display: flex;
    width: 100%;

    justify-content: space-between;

}

.text_footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    /* identical to box height */


    color: #8F95A5;

}

.title_about {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    /* identical to box height, or 167% */


    color: #000000;

}

.work-space {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}

.block_one {
    .text_one {
        display: flex;
        align-items: flex-start;
        min-height: 48px;
    }

    min-height: 582px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;

    .img_one {
        max-height: 306px;


    }
}

.contact_section {
    margin-top: 150px;
}

.about_us {
    margin-top: 40px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .block_text_about_us {
            padding: 20px 30px;
            max-width: 635px;


            .about_static {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .static_item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .role {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        color: #8F95A5;
                    }

                    .count {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 48px;
                        color: #2A3246;
                    }
                }
            }

            .about_description {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;

                color: #8F95A5;
            }

            .title_about {
                font-size: 48px;
                color: #000000;

            }
        }
    }
}

@media (max-width:1300px) {
    .wrapper {
        max-width: 1200px;
    }

    .section {


        .wrapper {
            .Price_wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                justify-content: center;
                flex-wrap: wrap;

                .block_one {
                    max-width: 400px;
                    margin: 0 auto;
                }
            }
        }
    }

    .contact_section {


        .wrapper {
            .flex_obj {

                display: flex;
                flex-direction: column;
                justify-content: center;

                .ImG {
                    margin: 0 auto;
                }

                .Contact_Us {
                    margin: 0 auto;
                }
            }
        }
    }

    .section_skils {
        .wrapper {
            .Wrapper_Skills {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .flex_last {

                    display: flex;
                    max-width: 400px;
                    margin: 20px auto;
                    flex-direction: column;
                }

                .Speaking {
                    max-width: 400px;
                    margin: 0px auto;
                }

                .flex-column {
                    .flex-row {

                        display: flex;
                        justify-content: center;

                    }


                    display: flex;
                    justify-content: space-between;
                    gap: 0;
                }
            }
        }
    }


    .Learn .undertext {
        font-size: 25px;

    }

    .Learn .button_1 {
        background: #263238;
        border-radius: 15px;
        margin-top: 40px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        cursor: pointer;
        line-height: 54px;
        padding: 20px 45px;
        color: white;
    }
}

@media (max-width:1062px) {
    .wrapper {
        max-width: 800px;
    }

    .main {
        .wrapper {
            .Country {

                width: 100%;

                .img_main {
                    width: 100%;
                    display: table;
                    margin: 0 auto;
                }
            }


            .flex-count {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                justify-content: center;
                flex-direction: column-reverse;


            }

        }
    }

    .Learn .Text_Main {
        text-align: center;
        flex-direction: column;

        img {
            width: 30%;
            margin: 0 auto;
            max-width: 30%;
        }
    }

    .Learn .undertext {
        font-size: 35px;
    }

    .Learn .button_1 {
        display: block;
        text-align: center;
        width: 100%;
    }

    .Skil,
    .Text_price {
        margin-top: 0px;
    }

}

@media (max-width:917px) {

    header .wrapper {

        .burger {
            display: block;
            z-index: 100;
        }

        .flag {
            display: none;
        }

        .nav {
            transform: translateX(100%);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            width: 100%;
            bottom: 0;
            background-color: #263238;
            ;
            height: 100vh;

            transition: .4s;

            &.active {
                transform: translateX(0%);
            }

            .navbut {

                margin-top: 100px;
                display: flex;
                text-align: center;
                flex-direction: column;


                li {
                    padding: 20px;

                    text-align: center;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .wrapper {
        max-width: 700px;
    }

    .section_skils {
        .wrapper {
            .Wrapper_Skills {
                img {
                    width: 100%;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;

                gap: 30px;

                .flex_last {

                    display: flex;
                    max-width: 320px;
                    margin: 20px auto;
                    flex-direction: column;
                    justify-content: center;
                }

                .Reading {
                    max-width: 320px;
                    margin: 0 auto;
                }

                .Speaking {
                    max-width: 320px;
                    margin: 0px auto;

                    img {
                        width: 50%;
                    }
                }

                .flex-column {
                    .flex-row {

                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        .flex_one {
                            max-width: 320px;
                            margin: 0 auto;
                        }

                    }


                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .about_us {
        .wrapper {

            flex-direction: column;
        }
    }

    .Learn .Text_Main {
        font-size: 30px;
    }

    .Learn .undertext {
        text-align: center;
        font-size: 24px;

    }

    .Learn .button_1 {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    .Skil,
    .Text_price {
        margin-top: 40px;
        font-size: 25px;
    }

    .about_us .wrapper .block_text_about_us .title_about {
        font-size: 35px;
        color: #000000;
    }



    .input_plus_but {
        width: 100%;

        display: flex;

        .input {
            border: 1px solid #8F95A5;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 10px;
            width: 80%;
            height: 80px;

        }

        .button {
            width: 20%;
            height: 80px;
            background: #263238;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}


@media (max-width:574px) {
    .wrapper {
        max-width: 400px;
    }

    .about_us .wrapper .block_text_about_us .title_about {
        text-align: center;
    }

    .about_us .wrapper .block_text_about_us .about_static {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .Text_contact {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;

    }

    .input_plus_but {
        width: 100%;

        display: flex;
        gap: 20px;
        flex-direction: column;

        .input {
            border: 1px solid #8F95A5;
            padding: 10px 20px;
            box-sizing: border-box;
            border-radius: 10px;
            width: 100%;
            height: 80px;
            font-size: 20px;

            &::placeholder {
                font-size: 20px;
            }

        }

        .button {

            width: 100%;
            height: 80px;
            background: #263238;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .foot {
        .wrapper {
            .flex-footer {
                flex-direction: column;

                .Britlex {

                    display: table;
                    margin: auto;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width:532px) {
    .section_skils .wrapper .Wrapper_Skills .Speaking {
        max-width: 310px;
        margin: 0px auto;

        img {
            width: 100%;
        }
    }

    img {
        width: 100%;
    }

    .wrapper {
        max-width: 400px;
    }

    .Learn .undertext {
        text-align: center;
        font-size: 18px;
    }

    .Learn .button_1 {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }
}

@media (max-width:400px) {
    .wrapper {
        max-width: 300px;

    }

    .section_skils .wrapper .Wrapper_Skills .Speaking {
        max-width: 310px;
        margin: 0px auto;

        img {
            width: 100%;
        }
    }

    section_skils .wrapper .Wrapper_Skills img {
        width: 100%;
    }

    img {
        max-width: 100%;
        width: 100%;
    }
}